HomeWatch.xcodeproj/xcuserdata
HomeWatch.xcodeproj/project.xcworkspace/xcshareddata
HomeWatch/HomeWatch.xcodeproj/xcuserdata
BetterHomeKit/BetterHomeKit.xcodeproj/xcuserdata/ecilteodoro.xcuserdatad/xcschemes/HomeKitDemo.xcscheme
BetterHomeKit/BetterHomeKit.xcodeproj/xcuserdata/ecilteodoro.xcuserdatad/xcschemes/xcschememanagement.plist
HomeKitBridge/HomeKitBridge.xcodeproj/xcuserdata/ecilteodoro.xcuserdatad/xcschemes/HomeKitBridge.xcscheme
HomeKitBridge/HomeKitBridge.xcodeproj/xcuserdata/ecilteodoro.xcuserdatad/xcschemes/xcschememanagement.plist
HomeWatch/HomeWatch.xcodeproj/xcuserdata/ecilteodoro.xcuserdatad/xcschemes/HomeWatch WatchKit App.xcscheme
HomeWatch/HomeWatch.xcodeproj/xcuserdata/ecilteodoro.xcuserdatad/xcschemes/xcschememanagement.plist
HomeWatchWS.xcworkspace/xcshareddata

HomeWatchWS.xcworkspace
